[submodule ".CreateArcaneEngr"]
	path = .CreateArcaneEngr
	url = https://github.com/HuySora/Minecraft-CreateArcaneEngr.git
[submodule ".MysticHorizons"]
	path = .MysticHorizons
	url = https://github.com/HuySora/Minecraft-MysticHorizons.git
[submodule ".Prominence2"]
	path = .Prominence2
	url = https://github.com/HuySora/Minecraft-Prominence2.git
